{% extends "UTTEtuBundle::layout.html.twig" %}


{% block etu_body %}

    <h2>Ajouter Cursus</h2>
    <div class="well">

        <button type="submit" class="btn btn-primary">Valider</button>
        <button type="reset" class="btn btn-default">Reset</button>

    </div>
{% endblock %}