{% extends "UTTEtuBundle::layout.html.twig" %}


{% block etu_body %}

    <h2>Liste Etudiants</h2>

    <table class="table table-striped table-hover" id="tableEtudiant">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        {% for etudiant in etudiants %}
            <tr><td>{{ etudiant.nom }}</td><td>{{ etudiant.prenom }}</td></tr>
            {% endfor %}
    </table>



{% endblock %}