<input type="file" name="file" id="file" class="inputfile" />
<label for="file" id="boutonImport" class="bouton"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Importer Cursus</label>