.btn-delete-cursus
{

    background-color: #e74c3c;
    color: white;
    font-weight: bold;

}
.btn-export-cursus
{
    background-color: #27ae60;
    color:white;
    font-weight: bold;
}
.labelCursus
{
    text-align: center;
}
.labelCursus>h2
{
    font-weight: bold;
}
#editEtuBtn
{
    width: 100%;
}
#hideButton
{
    display: none;
}
#addCursusEtu
{
    background: #1b7a40;
    color: white;
}
#deleteEtudiant
{
    background-color: #b23c30;
    color: white;
    font-weight: bold;
}
.editCursusEtu
{
    background: #663399;
    color: white;
}
.idCursus
{
    display: none;
}
.select-reglement
{
    text-align: center;
}
.reglementEtu
{
    text-align: center;
}
#dialog
{
    display: none;
}


