body
{

}
.navbarTop
{
 position: fixed;
 top:0;
 width:100%;
 font-weight:bold;
 z-index:1030;
 height:60px ;
 background-color: #3d3d3e;
 border-radius: 0;
}
.navbarTop a:hover
{
 color: black;
}
.navbarTop a:focus
{
 color: black;
}
.navbarTop a
{
 color:white;
 height: 60px;
}
#navbarTop a
{
 padding-top: 18px;
}
nav#navbarTop.opaque-navbar a
{
 color: black;
}
.navbarTop ul
{
 height: 100%;
}
.navbar-header
{
 height:100%;
}
.container-fluid
{
 height:100%;
}
.opaque-navbar {
 background-color: rgba(0,0,0,0.2);
 /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
 height: 60px;
 border-bottom: 0;
 transition: background-color .5s ease 0s;
}


.dropMenuNav
{
 position: inherit;
 width: 100%;
}
footer
{
 bottom: 0;
 position: absolute;
 width:100%;
}
.footer
{
 height: 100px;
 background: #2c3233;
}
.nanofooter
{
 height: 50px;
}
#corePage
{
 margin-top: 90px;
}

