html
{
 height: 100%;
}
body
{
 padding: 0;
 position: relative;
 min-height: 100%;
 background: #f9f9f9;
}
.footer
{
 position:absolute;
 padding-top: 10%;
 bottom: 0;
 width: 100%;
 height: 150px;
 z-index: -1;
}
.footer1
 {
  margin-top: 5%;
  background: #2c3233;
  height: 100px;
 }
.footer2
{
 height: 50px;
}
.navbarTop
{
 position: fixed;
 top:0;
 width:100%;
 font-weight:bold;
 z-index:1030;
 height:60px ;
 background-color: #3d3d3e;
 border-radius: 0;
}
.navbarTop a:hover
{
 color: black;
}
.navbarTop a:focus
{
 color: black;
}
.navbarTop a
{
 color:white;
 height: 60px;
}
#navbarTop a
{
 padding-top: 18px;
}
nav#navbarTop.opaque-navbar a
{
 color: black;
}
.navbarTop ul
{
 height: 100%;
}
.navbar-header
{
 height:100%;
}
.container-fluid
{
 height:100%;
}
.opaque-navbar {
 background-color: rgba(0,0,0,0.2);
 /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
 height: 60px;
 border-bottom: 0;
 transition: background-color .5s ease 0s;
}


.dropMenuNav
{
 position: inherit;
 width: 100%;
}


#corePage
{
 margin-top: 90px;
 margin-bottom: 50px;
}
input
{
 border-radius: 0;
}
.bouton
{
 padding: 15px;
 border: 1px solid transparent;
 display: inline-block;
 margin: 5px;
 cursor:pointer;
 text-align: center;
}


.labelTable
{
 background: #a66bbe;
 color: white;
 text-align: center;
}
.labelTable>h3,.labelTable>h2
{
 font-weight: bold;
 text-align: center;
}
.coreBody
{
 background: white;
 box-shadow: 0px 0px 5px #3d3d3e;
}
.inputfile {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}
.inputfile + #boutonImport {
 color: white;
 display: inline-block;
 cursor: pointer;
 width: 100%;
 margin: 0 0 10px 0;
 background: #27ae60;
 font-weight: bold;
 transition: background-color .5s;
}

.inputfile + #boutonImport:hover
{
 background: #1e8a4c;

}
.inputfile + #boutonImport:active
{
 outline-offset: -2px;
 outline: 1px dotted #000;
 border-color:#0F3A1D;
}



